/* Define a fonte "nasalization" para uso no documento */
@font-face {
    font-family: "nasalization";
    src: url("../fonts/nasalization-rg.ttf") format("truetype");
}

/* ========= configurando ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========= estilizações gerais ========= */
body {
    background-color: #000;
    font-family: nasalization, sans-serif; /* define a fonte para o corpo do documento */
    overflow-x: hidden;
}

/* ========= scrollbar ========= */
::-webkit-scrollbar {
    width: 12px; /* define a largura da barra de rolagem */
}
  
::-webkit-scrollbar-track {
    background: #000; /* define a cor de fundo da área de fundo da barra de rolagem */
}
  
::-webkit-scrollbar-thumb {
    background: #021526; /* define a cor da barra de rolagem */
    border-radius: 5px; /* adiciona um arredondamento aos cantos da barra de rolagem */
}
  
/* ========= cabeçalho ========= */
.cabecalho {
    display: flex; /* exibe os itens do cabeçalho em linha */
    justify-content: space-between; /* espaço entre os itens do cabeçalho */
}

.cabecalho h1 {
    color: #fff; /* define a cor do texto como branco */
    font-size: 3vw; /* define o tamanho da fonte */
    margin: 40px 70px 0px 50px; /* define as margens do título */
}

.cabecalho img {
    width: 3vw; /* define a largura da imagem */
    margin: 40px 50px 0px 60px; /* define as margens da imagem */
}

.cabecalho img:hover {
    opacity: 0.5; /* define a opacidade para 50% */
    transition: 0.2s ease-in-out; /* adiciona uma transição suave ao passar o mouse */
}

/* ========= card de resultado ========= */
.catalogue{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); /* define quatro colunas com largura mínima de 20% */
    gap: 2%; /* espaçamento entre os cards */
    align-items: center;
}

.cards {
    margin: 5% 2%;
    border-radius: 6%; /* adiciona um arredondamento nas bordas */
    padding: 3%; /* adiciona um preenchimento interno */
    cursor: pointer;
}
 
.cards h3,
.cards p {
  color: #fff; /* define a cor do texto como branco */
  margin: 0px 20px 5px 0px; /* define as margens dos títulos e parágrafos */
}

.cards h3 {
  margin-top: 30px; /* define a margem superior */
  font-size: 1.3vw; /* define o tamanho da fonte */
  text-align: center;
}

.cards p {
  font-size: 1vw; /* define o tamanho da fonte */
}

.description {
  height: 0; /* define a altura inicial como 0 */
  overflow: hidden; /* esconde qualquer conteúdo que exceda a altura do elemento */
  opacity: 0; /* define a opacidade como 0 para ocultar o conteúdo */
}

/* Exibe a descrição quando a classe 'ativa' é aplicada */
.cards.ativa .description {
    height: fit-content; /* define a altura conforme o conteúdo */
    opacity: 1; /* define a opacidade como 1 para exibir o conteúdo */
    transition: ease-in-out 1s; /* adiciona uma transição suave */
}
  
.image {
    display: flex; /* exibe a imagem como um flex container */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
}
  
#imagem {
    width: 110%; /* define a largura da imagem */
    margin-top: 5%; /* define a margem superior */
    border-radius: 12px;
}
  
#arrow-down {
    display: flex; /* exibe o ícone */
    width: 2vw; /* define a largura do ícone */
    float: right;
    margin: -23% -4% 0 0; /* define as margens */
    cursor: pointer; /* adiciona um cursor de ponteiro */
}
  
#arrow-down:hover {
    opacity: 0.5; /* define a opacidade como 50% ao passar o mouse */
    transition: 0.5s ease-in-out; /* adiciona uma transição suave ao passar o mouse */
}
