@font-face {
  font-family: "nasalization";
  src: url("../fonts/nasalization-rg.ttf") format("truetype");
}

.html2{
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* corpo da pag */
body {
  font-family: nasalization, sans-serif;
  background-color: #000;
}

/* scrollbar */
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: #000;
}

::-webkit-scrollbar-thumb{
  background: #021526;
  border-radius: 5px;
}
/* /scrollbar */

/* parte inicial da página */
header {
  position: relative;
}

.title {
  position: absolute; /* deixa a posição do título absoluta */
  top: 45%; /* ajusta a posição verticalmente */
  left: 50%; /* ajusta a posição horizontalmente */
  transform: translate(-50%, -50%); /* centraliza o contêiner */
  text-align: center; /* centraliza o texto horizontalmente */
  color: #fff; /* cor do texto (ajuste conforme necessário) */
}

.title h1 {
  font-size: 6.5vw;
}

.title h2 {
  font-size: 2.35vw;
}

.title h1,
.title h2 {
  display: block; /* faz com que eles ocupem toda a largura do contêiner pai */
  margin: 10px; /* ajuste as margens conforme necessário */
}

.background img {
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, #000, #000);
}
/* /parte inicial */

/* cards que abre */
#infos {
  display: flex; /* deixando o containe flexível */
  flex-direction: column; /* organizando as divs de dentro em coluna */
  text-align: center; /* alinhando os texto ao centro */
  margin: 0 auto; /* deixando as divs no meio */
  padding: 5% 80px; /* add espaçamento */
  width: 50%; /* largura das divs */
  margin-right: 360px;
}

.info-about,
.info-how {
  position: relative; /* falando que a posição dos filhos vão ser relativamente a esta div */
  margin: 20px;
  width: 100%; /* largura de 100% do container pai */
}

.info-about h2,
.info-how h2 {
  background-color: #021526;
  border-radius: 15px;
  padding: 24px;
  color: #fff;
}

#toggle-about,
#toggle-how {
  position: absolute; /* definindo a posição da imagem como absoluta */
  width: 40px;
  top: 20px;
  right: 30px;
  transition-duration: 0.4s; /* uma transição de 4 segundos para visualizar mudança */
}

#toggle-about:hover,
#toggle-how:hover {
  opacity: 0.5;
  cursor: pointer;
}

#toggle-about img,
#toggle-how img {
  width: 100%;
}

.carousel-info {
  margin-top: -10px;
  padding: 30px 20px 30px 20px;
  background-color: #021526;
  border-radius: 0 0 15px 15px;
  display: none;
  transition-duration: 0.4s;
}

.carousel-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.carousel-info-content img {
  width: 35px;
  transition-duration: 0.4s;
}

.carousel-info-content img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.carousel-info-content img:first-child {
  transform: rotate(180deg);
}

.carousel-info-content-paragraphs {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
}

.carousel-info-content-paragraphs p {
  min-width: 100%;
  color: #fff;
  transform: translateX(315px);
  transition-duration: 0.4s;
}

.carousel-info-indicators {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.carousel-info-indicator-about,
.carousel-info-indicator-how {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: #fff;
}

.carousel-info-indicator-about:first-child,
.carousel-info-indicator-how:first-child {
  background-color: #08428c;
}
/* /card q abre */

/* estilização da search bar */
.search-box {
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-top: 2%;
  transform: translateX(-50%);
  background-color: #032340;
  height: 80px;
  padding: 30px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.search-date::-webkit-calendar-picker-indicator {
  display: none;
}

.search-date {
  cursor: pointer;
  color: #fff;
  font-size: 1vw;
  font-family: nasalization, sans-serif;
  background: none;
  border: none;
  outline: none;
  width: 0;
  transition: 0.5s ease-in-out;
}

.search-box img {
  height: 30px;
  width: 30px;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #032340;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box:hover > .search-date {
  width: 240px;
}
/* /estilização da search bar */

/* slogan */
.slogan{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan p{
  color: #fff;
  width: 28%;
  text-align: center;
  margin-top: 15%;
}

/* parte dos planetas */
#planetas{
  margin-top: 5%;
}

.carousel-planets{
  width: 100%;
  position: relative;
}

.carousel-planets i{
  position: absolute;
  cursor: pointer;
  height: 46px;
  width: 46px;
  top: 50%;
  font-size: 1.2rem;
  text-align: center;
  line-height: 46px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.carousel-planets i:first-child{
  left: 10px;
}

.carousel-planets i:last-child{
  left: 95%;
}

 .carousel-planet-image {
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel-planet-image a {
  display: inline-block; /* Adicione esta linha para tornar os links em linha com a largura desejada */
}

.carousel-planet-image img{
  object-fit: cover; /* especifica como um objeto (imagem, vídeo etc) deve ser redimensionado para se ajustar ao seu contêiner */
  width: calc(100% / 3);
  width: 70%;
}

.carousel-planet-image img:first-child{
  margin-left: -15px;
}

.carousel-planet-image img:nth-child(6) {
  width: 500px;
  height: auto; 
}
/* /carrossel planetas */

/* slogan lua */
.slogan-lua{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-lua p{
  color: #fff;
  width: 28%;
  text-align: center;
  margin-top: 10%;
}
/* /slogan lua */

/* carrossel lua */
#moon{
  margin-top: 10%;
}

.list img:nth-child(3){
  width: 40%;

}

.carousel-moon{
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;
}

.list{
  width: 100%;
  height: 100%;
}

.item{
  position: absolute;
  width: 100%;
  height: 100%;
}

.item img.moon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  pointer-events: none;
}

.item.active{
  display: block;
}

.item.hidden{
  display: block;
  pointer-events: none;
  z-index: 1;
}