@font-face {
    font-family: 'nasalization';
    src: url('fonts/nasalization-rg.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* corpo da pag */
body{
    font-family: nasalization, sans-serif;
    background-color: #000; 
}

/* parte inicial da página */
header{
    position: relative;
}

.title{
    position: absolute; /* deixa a posição do título absoluta */
    top: 45%; /* ajusta a posição verticalmente */
    left: 50%; /* ajusta a posição horizontalmente */
    transform: translate(-50%, -50%); /* centraliza o contêiner */
    text-align: center; /* centraliza o texto horizontalmente */
    color: #fff; /* cor do texto (ajuste conforme necessário) */
}

.title h1{
    font-size: 6.5vw;
}

.title h2{
    font-size: 2.35vw;
}

.title h1, .title h2 {
    display: block; /* faz com que eles ocupem toda a largura do contêiner pai */
    margin: 10px; /* ajuste as margens conforme necessário */
}

.background img{
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, #000, #000);
}
/* /parte inicial */

/* cards que abre */
#infos{
    display: flex; /* deixando o containe flexível */
    flex-direction: column; /* organizando as divs de dentro em coluna */
    text-align: center; /* alinhando os texto ao centro */
    margin: 0 auto; /* deixando as divs no meio */
    padding: 30px 80px; /* add espaçamento */
    width: 45%; /* largura das divs */
}  

.info{
    position: relative; /* falando que a posição dos filhos vão ser relativamente a esta div */
    margin: 20px;
    cursor: pointer; /* clica */
    width: 100%; /* largura de 100% do container pai */
}

.info h2{
    background-color: #021526;
    border-radius: 15px;
    padding: 24px;
    color: #fff;
}

.info img{
    position: absolute; /* definindo a posição da imagem como absoluta */
    width: 40px;
    top: 20px;
    right: 30px;
    transition: .4s; /* uma transição de 4 segundos para visualizar mudança */
}

.info .paragrafo{
    background-color: #021526;
    border-radius: 15px;
    margin-top: -23px; /* tirando o espaçamento q ficou entre o h2 e o p */
    padding: 0 24px;
    height: 0;
    opacity: 0; /* deixando invisível */
    overflow: hidden; /* escondendo conteudo */
    transition: .4s;
}

.info.ativa .paragrafo{
    height: fit-content; /* fit-content: fazer com que a altura se ajuste com o conteúdo, e faça caber */
    opacity: 1; /* fazendo as inforamções aparecerem */
    padding: 24px;
}

.x{
    display: none; /* invisível */
}

.info .x{ /* add coisas na imagem do x */
    width: 25px;
    top: 25px;
    right: 40px;
}   
/* /card q abre */


#planets{
     position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slogan{
    margin-top: 50px;
    color: #fff;
    text-align: center;
    width: 26%;
}


.planet{
    text-align: center;
    margin: 50px;
}

.planet img{
    width: 50%;
}

.planet h1{
    color: #fff;
}  